.custom-scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-250;
    padding: 0 1px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-350;
    border-radius: 10px;
    transition: all 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $gray-450;
  }

  &:root {
    scrollbar-width: thin;
  }
}

.hidden-scroll-horizontal {
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
      display: none;
  }
}