.insurance-card {
    background-color: $white;
    border-radius: $card-border-radius;
    width: 100%;
    display: inline-block;
    padding: 5px 24px 24px 24px;
    margin-bottom: $grid-gutter-width;
    text-align: center;
    transition: all 0.3s;

    .form-check {
        position: relative;
        top: 11px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        margin-bottom: 0;
    }

    .thumb {
        width: 120px;
        height: 120px;
        display: flex;
        vertical-align: middle;
        overflow: hidden;
        text-align: center;
        clear: both;
        margin: 19px auto 24px auto;

        img {
            max-height: 120px;
            width: auto;
            height: auto;
            max-width: 100%;
            display: table;
            margin: auto;
        }
        div {
            width: 100%;
        }
    }

    .title {
        @extend .title4;
        line-height: 24px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-detail {
        font-size: 12px;
        color: $gray-650;
        width: 100%;
        display: block;
        margin-bottom: 5px;
        height: 70px;
        overflow: hidden;
    }

    .view-detail {
        width: 100%;
        display: block;
        margin-bottom: 16px;
        a {
            @extend .text-primary;
            font-size: 12px;
            text-decoration: none;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .badges-wrap {
        width: 100%;
        display: inline-block;
        margin-bottom: 14px;

        .badge {
            margin-left: 8px;
            margin-bottom: 2px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .badge {
        text-align: initial;
        white-space: initial;
    }

    &:hover {
        box-shadow: 0px 16px 32px rgba($black, 0.16);
    }

    &.active {
        .form-check {
            visibility: visible;
            opacity: 1;
        }
    }

    &.no-hover {
        &:hover {
            box-shadow: 0 0 0 transparent;
        }
    }

    .text-align-auto {
        text-align: initial;
    }
}

@media only screen and (max-width: 991px) {
    .insurance-card-wrap{
        .insurance-card{
            .text-detail {
                height: auto;
                overflow: initial;
            }
        }
    }
}